*.tree
*.zip
tmp
.DS_Store
/xamarin_forms_api_docs/xamarin.forms/Xamarin.Forms.Core.dll
/xamarin_forms_api_docs/xamarin.forms/Xamarin.Forms.Maps.dll
/xamarin_forms_api_docs/xamarin.forms/Xamarin.Forms.Pages.dll
/xamarin_forms_api_docs/xamarin.forms/Xamarin.Forms.Xaml.dll
/packages/mdoc.5.6.1
